<!doctype html>
<html lang="en">
  <head>
    <title>Login - Hanc Herald</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/browsericon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b0bbeb;">
      <a class="navbar-brand" href="#">
        <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <div class="card bg-dark mt-5 text-white">
            <form method="post" action="">
              {{ form.hidden_tag() }}
              {% for field in form.errors %}
              {% for error in form.errors[field] %}
                  <div class="alert alert-error">
                      <strong>Error!</strong> {{error}}
                  </div>
              {% endfor %}
              {% endfor %}
              <div class="form-group pr-3 pl-3 mt-3">
                <label for="exampleInputEmail1">Username</label>
                {{form.username(class="form-control")}}
              </div>
              <div class="form-group pr-3 pl-3">
                <label for="exampleInputPassword1">Password</label>
                {{form.password(class="form-control")}}
              </div>
              {{form.submit(class="btn btn-primary ml-3 mb-5")}}
            </form>
          </div>
        </div>
        <div class="col-sm">

        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d8440dd275.js" crossorigin="anonymous"></script>

  </body>
</html>
